
# Data Science
#------------------------------------------------
numpy
pandas
matplotlib
seaborn
#scikit-learn
#scipy
#bokeh


# Machine Learning
#------------------------------------------------
tensorflow
#tensorflow-gpu


# MS
#------------------------------------------------
pymzml


# Building
#------------------------------------------------
setuptools
wheel


# PyPI
#------------------------------------------------
twine


# Testing
#------------------------------------------------
pytest
coverage


# Docs
#------------------------------------------------
sphinx==2.2.0
sphinx_rtd_theme
